@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-primary {
        @apply bg-gradient-to-br from-orange-500 to-red-800;
    }
    .text-primary {
        @apply text-transparent bg-clip-text bg-primary;
    }
    .bg-hover {
        @apply bg-gradient-to-tl from-orange-500 to-red-800;
    }

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    @apply px-4 py-3 shadow-md rounded-lg ;
}

.btn-primary {
    @apply bg-primary text-white font-bold;
    @apply hover:bg-hover;
}

/* form */
.form-heading {
    @apply text-primary;
}

